.apparition1 {
    opacity: 0;
    animation: apparition $temps 2200ms;
    animation-fill-mode: forwards;
}

.apparition2 {
    opacity: 0;
    animation: apparition $temps 2400ms;
    animation-fill-mode: forwards;
}

.apparition3 {
    opacity: 0;
    animation: apparition $temps 2600ms;
    animation-fill-mode: forwards;
}

.apparition4 {
    opacity: 0;
    animation: apparition $temps 2800ms;
    animation-fill-mode: forwards;
}

.apparition5 {
    opacity: 0;
    animation: apparition $temps 3000ms;
    animation-fill-mode: forwards;
}

.apparition6 {
    opacity: 0;
    animation: apparition $temps 3200ms;
    animation-fill-mode: forwards;
}

.apparition7 {
    opacity: 0;
    animation: apparition $temps 3400ms;
    animation-fill-mode: forwards;
}

.apparition8 {
    opacity: 0;
    animation: apparition $temps 3600ms;
    animation-fill-mode: forwards;
}

.apparition9 {
    opacity: 0;
    animation: apparition $temps 3800ms;
    animation-fill-mode: forwards;
}

.apparition10 {
    opacity: 0;
    animation: apparition $temps 4000ms;
    animation-fill-mode: forwards;
}

.apparition11 {
    opacity: 0;
    animation: apparition $temps 4200ms;
    animation-fill-mode: forwards;
}

.apparition12 {
    opacity: 0;
    animation: apparition $temps 4400ms;
    animation-fill-mode: forwards;
}

.apparition13 {
    opacity: 0;
    animation: apparition $temps 4600ms;
    animation-fill-mode: forwards;
}