.apparition1 {
    opacity: 0;
    animation: apparition $temps 150ms;
    animation-fill-mode: forwards;
}

.apparition2 {
    opacity: 0;
    animation: apparition $temps 500ms;
    animation-fill-mode: forwards;
}

.apparition3 {
    opacity: 0;
    animation: apparition $temps 700ms;
    animation-fill-mode: forwards;
}

.apparition4 {
    opacity: 0;
    animation: apparition $temps 900ms;
    animation-fill-mode: forwards;
}

.apparition5 {
    opacity: 0;
    animation: apparition $temps 1100ms;
    animation-fill-mode: forwards;
}

.apparition6 {
    opacity: 0;
    animation: apparition $temps 1300ms;
    animation-fill-mode: forwards;
}

.apparition7 {
    opacity: 0;
    animation: apparition $temps 1500ms;
    animation-fill-mode: forwards;
}

.apparition8 {
    opacity: 0;
    animation: apparition $temps 1700ms;
    animation-fill-mode: forwards;
}

.apparition9 {
    opacity: 0;
    animation: apparition $temps 1900ms;
    animation-fill-mode: forwards;
}

.apparition10 {
    opacity: 0;
    animation: apparition $temps 2100ms;
    animation-fill-mode: forwards;
}

.apparition11 {
    opacity: 0;
    animation: apparition $temps 2300ms;
    animation-fill-mode: forwards;
}

.apparition12 {
    opacity: 0;
    animation: apparition $temps 2500ms;
    animation-fill-mode: forwards;
}

.apparition13 {
    opacity: 0;
    animation: apparition $temps 2700ms;
    animation-fill-mode: forwards;
}