.nouveau {
  background-color: $couleur-tertiaire;
  width: 95px;
  position: absolute;
  top: 10px;
  left: auto;
  right: 20px;
  text-align: center;
  height: 40px;
  border-radius: 5px;
  z-index: 1;
}

.nouveau p {
  margin: 6px;
  padding: unset;
  align-self: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: green;
}
