@font-face {
    font-family: 'Shrikhand';
    src: url(".Base/Font/Shrikhand-Regular.otf") format("otf");
}

@font-face {
    font-family: "Roboto-medium";
    src: url("./Font/web-fonts/roboto_medium_macroman/Roboto-Medium-webfont.woff") format("woff");
}

@font-face {
    font-family: 'Roboto-light';
    src: url("./Font/web-fonts/roboto_light_macroman/Roboto-Light-webfont.woff") format("woff");
}

@font-face {
    font-family: 'Roboto';
    src: url("./Font/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff");
}