$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$degrade: linear-gradient($couleur-primaire, $couleur-secondaire);

$couleur-texte-footer: #fff;

$temps: 600ms
